<h1>Add Calculations</h1>

<p>Process new calculations</p>


<form>

  <div class="body-content">

    <table class="form-group">
      <thead>
        <tr>
          <td>Full Name</td>
          <td>Income</td>
          <td>Postal Code</td>
          <td>Tax Type</td>
          <td>Calculated Tax</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" type="text" /></td>
          <td><input class="form-control" type="number" /></td>
          <td>
            <!--<select (change)="doSomething($event)">
              <option value="1">Test 1</option>
              <option value="2">Test 21</option>
              <option value="3">Test 31</option>
              <option value="4">Test 41</option>

            </select>-->

          <select class="form-control" name="postalCodes" [(ngModel)]="postalCodes.taxTypeId">
                <option *ngFor="let code of postalCodes" [value]="code.id">{{code.codeName}}</option>
            </select>

          </td>
          <td><select class="form-control"[(ngModel)]="postalCodes.taxTypeId">
            <option *ngFor="let code of postalCode" [value]="code.taxType.id">{{code.taxType.typeName}}</option></select></td>
          <td><input class="form-control" type="text" disabled /></td>
        </tr>
      </tbody>
    </table>
  </div>

</form>
