<h1>Add Calculations</h1>

<p>Process new calculations</p>


<form>

  <div class="body-content">

    <table class="form-group">
      <thead>
        <tr>
          <td>Full Name</td>
          <td>Annual Income</td>
          <td>Postal Code</td>
          <td>Tax Type</td>
          <td>Annual Tax</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" type="text" (change)="userFullName($event)"/></td>
          <td><input class="form-control" (change)="userIncomeInput($event)" type="number" min="1000.00" /></td>
          <td>
            <select  class="form-control" name="postalCodes" [(ngModel)]="postalCodes.id" (ngModelChange)="userPostalCodeInput($event)" >
              <option *ngFor="let code of postalCodes" [value]="code.id">{{code.codeName}}</option>
            </select>
          </td>
          <td>
            <select ng-if="postalCodes.length" class="form-control" name="postalCodes" [ngModel]="postalCodes.id" required>
              <option disabled *ngFor="let code of postalCodes" [value]="code.id">{{code.taxType.typeName}}</option>
            </select>
          </td>
          <td><input name="total" min="1" class="form-control" type="text" disabled [value]="calculatedTax"/></td>
        </tr>
        <tr>
          <td colspan="5">
            <input (click)="addCalculation()" [disabled]="!canSubmit" type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:15px;" value="Submit" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</form>
