<h1>Update page</h1>

<p>This component demonstrates fetching data from the server.</p>


<p *ngIf="!calculations"><em>Loading...</em></p>

<table class='table form-group' *ngIf="calculations">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Annual Income</th>
      <th>Postal Code</th>
      <th>Tax Type</th>
      <th>Annual Tax</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of calculations; let i = index">
      <td><input [(ngModel)]="c.fullName"[ngModelOptions]="{standalone: true}" class="form-control" type="text" required value="{{c.fullName}}" /></td>
      <td><input [(ngModel)]="c.income"[ngModelOptions]="{standalone: true}" class="form-control" type="number" required value="{{c.income}}" /></td>
      <td><input [(ngModel)]="c.postalCode"[ngModelOptions]="{standalone: true}" class="form-control" type="text" required readonly value="{{c.postalCode}}" /></td>
      <td><input [(ngModel)]="c.postalCode"[ngModelOptions]="{standalone: true}" class="form-control" type="text" required readonly value="{{c.postalCode}}" /></td>
      <td><input [(ngModel)]="c.calculatedTax"[ngModelOptions]="{standalone: true}" class="form-control" type="number" required value="{{c.calculatedTax}}" /></td>
      <td>
      <input type="button" class="btn btn-primary" value="Update" (click)="updateCalculation(c)" />
      <input type="button" class="btn btn-danger" value="Delete" (click)="deleteCalculation(c,i)"/>
      </td>
    </tr>
  </tbody>
</table>
