<div>

<h1>Dashboard!</h1>
<p>This is your previously calcutated tax view:</p>
<p *ngIf="!calculations"><em>Loading...</em></p>

<table class='table' *ngIf="calculations">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Annual Income</th>
      <th>Postal Code</th>
      <th>Annual Tax</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of calculations">
      <td>{{ c.fullName }}</td>
      <td>{{ c.income }}</td>
      <td>{{ c.postalCode }}</td>
      <td>{{ c.calculatedTax }}</td>
    </tr>
  </tbody>
</table>
</div>



